.contact {
   &__div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-title {
         width: 350px;
         font-family: "Ibarra Real Nova";
         font-style: normal;
         font-weight: 700;
         font-size: 40px;
         line-height: 42px;
         letter-spacing: -0.357143px;
         color: #33323d;
      }

      &-hr {  
         width: 400px;
         height: 1px;
        background: #33323d;
        mix-blend-mode: normal;
        opacity: 0.15;
      }

      &--btn {
         border: #33323d 1px solid;
        height: 48px;
        width: 202px;
        font-family: "Public Sans";
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $GrayishDarkBlue;
        margin-bottom: 46px;
        background-color: #fff;
      }

      &--btn:hover {
        border: none;
        color: #fff;
        background: $GrayishDarkBlue;
      }

      &--btn:active {
        color: $GrayishDarkBlue;
        background-color: #fff;
        border:1px solid rgba(0, 0, 0, 0.206);
      }
   }
}
.contact__btn{
   margin-top: 44px;
}





// RESPONSIVE
@media only screen and (max-width:992px) {
   .contact {
      &__div {
         display: flex;
         justify-content: space-between;
         align-items: center;
         &-hr {  
            width: 230px;
            height: 1px;
           background: #33323d;
           mix-blend-mode: normal;
           opacity: 0.15;
         }
      }
   }
}
@media only screen and (max-width:768px) {
   .contact {
      &__div {
         display: flex;
         justify-content: space-between;
         align-items: center;
         &-hr {  
            width: 130px;
            height: 1px;
           background: #33323d;
           mix-blend-mode: normal;
           opacity: 0.15;
         }
      }
   }
}
@media only screen and (max-width:688px) {
   .contact {
      &__div {
         display: flex;
         justify-content: space-between;
         align-items: center;
         &-hr {  
            width: 80px;
            height: 1px;
           background: #33323d;
           mix-blend-mode: normal;
           opacity: 0.15;
         }
      }
   }
}
@media only screen and (max-width:576px) {
   .contact {
      &__div {
         display: block;
         &-title {
            margin: 0 auto;
            width: 350px;
            font-family: "Ibarra Real Nova";
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 42px;
            letter-spacing: -0.357143px;
            color: #33323d;
            padding-bottom: 20px;
         }
   
         &-hr {  
          display: none;
         }
      }
   }
   .contact__btn{

      margin: 0 auto;
   }
}
@media only screen and (max-width:480px) {
   
}
@media only screen and (max-width:375px) {
    .contact {
      &__div {
         display: block;

         &-title {
            margin: 0 auto;
            width: auto;
            font-family: "Ibarra Real Nova";
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 42px;
            letter-spacing: -0.357143px;
            color: #33323d;
            padding-bottom: 20px;
         }
   
         &-hr {  
          display: none;
         }
      }
   }
}
@media only screen and (max-width:311px) {
 
}